[submodule "megadrive_samples_fasm68k"]
	path = examples/megadrive_samples_fasm68k
	url = git@github.com:fredrik-hjarner/megadrive_samples_fasm68k.git
	branch = master
[submodule "fasm2"]
	path = fasm2
	url = git@github.com:tgrysztar/fasm2.git
	branch = master
[submodule "examples/RetailClerk89_fasm68k"]
	path = examples/RetailClerk89_fasm68k
	url = git@github.com:fredrik-hjarner/RetailClerk89_fasm68k.git
	branch = main
[submodule "examples/speedrun-tower_fasm68k"]
	path = examples/speedrun-tower_fasm68k
	url = git@github.com:fredrik-hjarner/speedrun-tower_fasm68k.git
	branch = main
